ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/saved_images
ros2_ws/results
.idea/
*.pyc
.vscode
.ipynb_checkpoints/
*venv/

*.vscode
src/.vscode/
ros2_ws/src/.vscode/settings.json
reference_trajectory_generator/*.txt

build/
rosbag2*
recordings/ 
evaluation_bags/
UnityProject/Library
UnityProject/Log

UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild/
UnityProject/[Bb]uilds/
UnityProject/[Ll]ogs/
UnityProject/UserSettings/

UnityProject/Assets/[Ll]ibrary/
UnityProject/Assets/[Tt]emp/
UnityProject/Assets/[Oo]bj/
UnityProject/Assets/[Bb]uild/
UnityProject/Assets/[Bb]uilds/
UnityProject/Assets/[Ll]ogs/
UnityProject/Assets/UserSettings/

